
.info {
  width: 800px;
  margin: 40px auto;
  margin-top: 80px;
  font-family: Montserrat;
  font-size: 16px;

p {
  margin: 12px 0;
  width: 500px;
  font-size: 12px;
  text-align: justify;
}
}


.rent {
  width: 800px;
  margin: 20px auto;
  margin-bottom: 30px;
  display: flex;
  justify-content: left;
}

.rent-car {
  display: grid;
  grid-template-columns: 500px;
  grid-template-rows: 350px 40px;
  grid-template-areas: "image" "text";

  font-family: Montserrat;
  border-radius: 18px;
  background: #FFFFFF;

  text-align: center;
  border: 2px solid #101010;
}

.car-name {
  grid-area: text;
  margin: 5px;
}

.car-description {
  margin-left: 20px;
  align-self: center;
  font-family: Montserrat;
  background: #FFFFFF;
}

.car-button {
  margin-top: 10px;
  padding: 5px;
  background: #1dd1a1;
  border: 2px solid #101010;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 10px;

&:hover {
   cursor: pointer;
   background: #101010;
   color: #1dd1a1;
 }
}

.card-image1 {
  background: url("../../assets/jaguar.jpg");
  grid-area: image;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}
